<section class="container-fluid">
  <div class="pt-5 pl-4 pr-4">
    <div>
      <h1 class="text-center mb-4">Quản lý tài xế</h1>
     
    </div>
    <div>
    <span class="ml-2 mr-2 mb-4 mt-4">Hiển Thị</span>
      <select name="" #selectList (change)="handlePageSize(selectList.value)">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    <span class="ml-2 mr-2 mb-4 mt-4">Mẫu</span>
    <a title="Click to ADD this driver" (click)="handleAdd()"><i class="fas fa-plus-square fa-2x" style="color: lightgreen" ></i></a>
    </div>
    <table class="table table-hover table-rounded mb-5 mt-4 table-responsive">
      <thead>
        <tr>
          <th scope="col" style="width: 10%"><a (click)="handleSorting('firstName',reverseOrderBy)">Họ</a></th>
          <th scope="col" style="width: 10%"><a (click)="handleSorting('lastName',reverseOrderBy)">Tên</a></th>
          <th scope="col" style="width: 10%"><a (click)="handleSorting('phone',reverseOrderBy)">Số Điện Thoại</a></th>
          <th scope="col" style="width: 20%"><a (click)="handleSorting('email',reverseOrderBy)">Email</a></th>
          <th scope="col" style="width: 30%"><a (click)="handleSorting('address',reverseOrderBy)">Địa Chỉ</a></th>
          <th scope="col" style="width: 6%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of driverList">
          <td>{{ driver.firstName }}</td>
          <td>{{ driver.lastName }}</td>
          <td>{{ driver.phone }}</td>
          <td>{{ driver.email}}</td>
          <td>{{ driver.address}}</td>
          <td>
            <a
              class="text-decoration-none pointer ml-2"
              (click)="showUpdate(driver)"
              title="Click to UPDATE this driver"
              ><i
                class="fa fa-file"
                style="color: #ffd23f"
                aria-hidden="true"
              ></i
            ></a>
            <a
              class="text-decoration-none pointer ml-2"
              (click)="showDelete(driver.id)"
              title="Click to DELETE this driver"
              ><i
                class="fa fa-trash"
                style="color: lightcoral"
                aria-hidden="true"
              ></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="demo pb-4">
      <nav class="pagination-outer" aria-label="Page navigation">
          <ul class="pagination">
              <li class="page-item" [ngClass]="{'disabled': pageNo === 0}">
                  <a (click)="hanldePaging(pageNo-1)" 
                        class="page-link" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                  </a>
              </li>
              <div  *ngFor="let item of [].constructor(totalPages); let i = index">
                <li class="page-item" [ngClass]="{'active': i === pageNo}">
                  <a class="page-link" (click)="hanldePaging(i)">{{i+1}}</a>
                </li>
              </div>
              <li class="page-item" [ngClass]="{'disabled': pageNo === totalPages-1}">
                  <a (click)="hanldePaging(pageNo+1)" 
                        class="page-link" aria-label="Next">
                      <span aria-hidden="true">»</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
  </div>
  <div
    class="modal fade"
    id="modelId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modelTitleId"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bạn có muốn xóa tài xế ID:? {{ id }}</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger link-delete" (click)="handleDelete(id)">Xóa</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Hủy
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
