<section class="about_section layout_padding" id = "about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2>
              Thông tin <br>
              Xe Ké Bôn Lê
            </h2>
            <p>
                Xe ké Bôn Lê đón trả khách tận nhà, tại tất cả các khách sạn, khu vui chơi giải trí tại Huế - Đà Nẵng, xe chạy từ 5h-22h hằng ngày
                 với giá ghép chỉ 150k/ghế, nhà xe đặc biệt ưu đãi 130k/ghế đối với học sinh, sinh viên. Tài xế xe lịch sự, cẩn thận, năng động và đầy
                  đủ điều kiện sức khỏe đã tiêm đủ 3 mũi vaccine Covid-19.
            </p>
            <br>
            Ngoài ra:
            <ul>
                <li>Xe nhận vận chuyển hàng hóa rẻ nhất Huế chỉ từ 80k-100k (tùy thuộc vào kích thước hàng) giao tận nơi.</li>
                <li>Xe 7 chỗ FORTUNER đời mới 2021, an toàn và chất lượng  .</li>
                <li>Free Wifi + nước uống + khăn lạnh.</li>
                <li>Thực hiện đầy đủ 5K.</li>
                <li>Nhận bao xe giá rẻ chỉ từ 700k-900k (4 chỗ - 7 chỗ).</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/assets/images/xele_about.png" alt="">
          </div>
        </div>
      </div>
    </div>
</section>
<script>
  
</script>
