<section class="service_section layout_padding mb-3">
  <div class="container">
    <div class="heading_container">
      <h2>
        Dịch Vụ <br />
        Nhà Xe Bôn Lê
      </h2>
    </div>
    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="/assets/images/delivery-man.png" alt="" />
        </div>
        <div class="detail-box">
          <h5>Đưa đón Huế - Đà Nẵng</h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="/assets/images/airplane.png" alt="" />
        </div>
        <div class="detail-box">
          <h5>Đưa đón sân bay</h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="/assets/images/backpack.png" alt="" />
        </div>
        <div class="detail-box">
          <h5>Vận chuyển hàng hóa</h5>
        </div>
      </div>
    </div>
  </div>
</section>
