<section class="contact_section layout_padding" style="padding-right: 45px;">
    <div class="container">
      <div class="heading_container">
        <h2>
          Vấn đề & <br>
          Câu hỏi
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5  offset-md-1">
          <div class="contact_form">
            <h4>
              Liên lạc
            </h4>
            <form action="">
              <input type="text" placeholder="Họ và tên">
              <input type="text" placeholder="Số điện thoại">
              <input type="text" placeholder="Tin nhắn" class="message_input">
              <button>Gửi</button>
            </form>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="/assets/images/xeke_card.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
