
.about_section .detail-box {
    position: relative;
    padding-right: 75px;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 8px 25px;
    border: 1px solid #0b0b0a;
    background-color: transparent;
    color: #0b0b0a;
    margin-top: 25px;
  }
  
  .about_section .detail-box a:hover {
    background-color: #0b0b0a;
    color: #ffffff;
  }
  
  .about_section .detail-box::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 65%;
    top: 10%;
    right: 25px;
    z-index: 1;
    background-color: #dbc64c;
    background-repeat: no-repeat;
  }
  
  .about_section .img-box {
    /* padding: 75px 45px; */
  }
  
  .about_section .img-box img {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  
  .about_section .img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    border-radius: 10px;
  }