<section class="about_section layout_padding">
    <div class="container-fluid border p-3">
      <div class="row">
        <div class="offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2 class="text-center">
              Xác nhận đơn đặt chỗ!
            </h2>
            <h3><i>Chúng tôi đã nhận được thông tin đặt chỗ của bạn và sẽ xác nhận lại những thông tin sau :</i></h3>
            <div class="confirm-seat">
                <ul>
                    <li>Họ và tên : {{bookConfirm.firstName}} {{bookConfirm.lastName}}.</li>
                    <li>Địa điểm đón khách hàng: {{bookConfirm.pickDestination}}.</li>
                    <li>Địa điểm trả khách hàng: {{bookConfirm.dropDestination}}.</li>
                    <li>Ghế: <b>{{bookConfirm.sheet}}</b>.</li>
                    <li>Ngày đón: <b>{{bookConfirm.dateBooking}}</b>.</li>
                    <li>Số điện thoại: <b>{{bookConfirm.phone}}</b>.</li>
                    
                </ul>
            </div>
            <h4>*Lưu ý vì mỗi ngày sẽ có nhiều chuyến với nhiều khung giờ khác nhau nên tài xế xe sẽ chủ động liên lạc với khách hàng
                trong vòng 30p sau khi đơn đặt chỗ được gửi, sau đó sẽ trao đổi thời gian với khách hàng. ĐỪNG LO, DỊCH VỤ CỦA CHÚNG TÔI LUÔN CÓ THỂ ĐÓN BẠN Ở BẤT CỨ ĐÂU!</h4>
            <h5><i>CHÚC QUÝ KHÁCH 1 ĐỜI AN NHIÊN!</i> 😌😌😌😌</h5>
            </div>
        </div>
      </div>
    </div>
</section>
<script>
  
</script>
