<section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box">
        <div class="info_form">
          <h4>Theo dõi bảng tin của chúng tôi</h4>
          <form action="">
            <input type="text" placeholder="Email" />
            <div class="d-flex justify-content-end">
              <button></button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="text-decoration-none" routerLink="home">Trang chủ<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="">
              <a class="text-decoration-none" routerLink="about"> Thông tin</a>
            </li>
            <li class="">
              <a class="text-decoration-none" routerLink="service"> Dịch vụ </a>
            </li>
            <li class="">
              <a class="text-decoration-none" routerLink="contact"> Liên lạc</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="https://www.facebook.com/profile.php?id=100009165056631" target="_blank">
              <img src="/assets/images/fb1.png" style="border-radius: 14px;" alt="Facebook" />
            </a>
          </div>
          <div>
            <a href="https://www.facebook.com/groups/hue.sale4share" target="_blank">
              <img src="/assets/images/group1.png" style="border-radius: 14px;" alt="Group Facebook" />
            </a>
          </div>
          <div>
            <a href="https://zalo.me/xekebonle" target="_blank">
              <img src="/assets/images/zalo1.jpg" style="border-radius: 14px;" alt="Zalo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>