<section>
    <h1 class="mt-4">{{title}}</h1>
    <form  [formGroup] = "form" class="mb-5">
        <label for="firstName">Họ:</label>
        <input type="text" placeholder="Họ" formControlName = "firstName" id="firstName"/>
        <label for="lastName">Tên:</label>
        <input type="text" placeholder="Tên" formControlName = "lastName" id = "lastName"/>
        <label for="phone">Số Điện Thoại:</label>
        <input type="text" placeholder="Số Điện Thoại" formControlName = "phone" id = "phone"/>
        <label for="email">Email:</label>
        <input type="text" placeholder="Email" formControlName = "email" id = "email"/>
        <label for="address">Địa Chỉ:</label>
        <input type="text" placeholder="Địa Chỉ" formControlName = "address" id = "address"/>
        <button style="color: black" type="submit" onclick="" [disabled] = "form.invalid" class="btn" (click)="handleSubmit()">Xác nhận</button>
    </form>
</section>