<section class="why_section layout_padding2">
    <div class="container">
      <div class="heading_container">
        <h2>
          Tại sao <br>
          Chọn nhà xe Bôn Lê
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="/assets/images/delivery-man-white.png" alt="" class="img-1">
            <img src="/assets/images/delivery-man-black.png" alt="" class="img-2">
          </div>
          <div class="detail-box">
            <h5>
              Tài xế tốt nhất
            </h5>
            <p>
              Tài xế xe có đủ giấy phép lấy xe, nhiệt tình, lịch sự, cẩn thận và đã tiêm đủ 3 mũi vaccine Covid-19.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/assets/images/shield-white.png" alt="" class="img-1">
            <img src="/assets/images/shield-black.png" alt="" class="img-2">
          </div>
          <div class="detail-box">
            <h5>
              An toàn và đảm bảo
            </h5>
            <p>
              Đảm bảo sẽ đón tận nơi và đưa tận nơi cho khách hàng, đảm bảo tốc độ và sự an toàn của khách hàng trên đường đi.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/assets/images/repairing-service-white.png" alt="" class="img-1">
            <img src="/assets/images/repairing-service-black.png" alt="" class="img-2">
          </div>
          <div class="detail-box">
            <h5>
              Phục vụ 24/7
            </h5>
            <p>
              Dịch vụ sẽ hoạt động tất cả các ngày trong tuần và trong tháng. Liên lạc nhanh chóng và chính xác.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
