.slider_form {
    width: 400px;
    padding: 25px;
    background-color: #282828;
    border-radius: 10px;
    margin: auto;
  }
  
.slider_form h4 {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
.slider_form h6 {
    font-style: italic;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
.slider_form form {
    margin: 15px 0;
  }
  
.slider_form form input ,
.slider_form form select{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 5px;
  }
/* #seat_dropdown{
  color: gray;
}
#seat_dropdown option{
  color: rgb(0, 0, 0);
} */
.slider_form form .btm_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
.slider_form form .btm_input input {
    width: calc(95% - 116px);
    margin: 0;
    margin-right: 10px;
  }
  
.slider_form form .btm_input button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 116px;
    border: none;
    outline: none;
    background-color: #f7c621;
    color: #ffffff;
  }
.slider_form form input .ng-invalid .ng-touched,
.slider_form form textarea .ng-invalid .ng-touched{
  border: 1px solid red !important;
}