<div class="slider_form">
    <h4>Đặt chỗ ngay hôm nay</h4>
    <form>
        <div class="text-center mb-3">
            <a href="https://zalo.me/xekebonle" target="_blank"><img src="/assets/images/zalo-100.png" alt="Zalo" class="img-fluid img-responsive" width="100" height="100"></a>
            <a href="https://www.facebook.com/profile.php?id=100009165056631" target="_blank"><img src="/assets/images/fb-96.png" alt="Facebook" class="img-fluid img-responsive" width="85" height="85"></a>
            <!-- <a href="https://www.facebook.com/groups/hue.sale4share" target="_blank"><img src="/assets/images/fb-96.png" alt="Group Facebook" class="img-fluid img-responsive ml-2" width="85" height="85"></a> -->
        </div>
        <div class="btm_input">
            <a style="color: black;font-size: larger;" type="submit" class="btn" href="tel:0886075075">
                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span style="font-size: large;">0886 075 075</span>
            </a>
        </div>
    </form>
    <h6>
        *Tài xế sẽ liên lạc trước với bạn 30 phút để tiến hành trao đổi và xác nhận thời gian đưa đón.
    </h6>
</div>